Repository pgbackrest/pgbackrest, pull requests merged in 2021-08, with the labels that each got.

#1479 Fix incorrect host names in user guide.
  doc/xml/release.xml
  doc/xml/user-guide.xml
Labels: bug, module [doc]

#1480 Only pass selected repo options to the remote.
  doc/xml/release.xml
  src/protocol/helper.c
  test/src/module/protocol/protocolTest.c
Labels: bug, module [core]

#1486 Update db/db test to use standard patterns.
  doc/xml/release.xml
  test/src/module/db/dbTest.c
Labels: enhancement, module [test]

#1487 Fix links and update child process example.
  CONTRIBUTING.md
  doc/xml/contributing.xml
  doc/xml/release.xml
Labels: enhancement, module [doc]

#1488 Rearrange backup documentation in user guide.
  doc/xml/release.xml
  doc/xml/user-guide.xml
Labels: enhancement, module [doc]

#1491 Update protocol/protocol test to use standard patterns.
  doc/xml/release.xml
  test/src/module/protocol/protocolTest.c
Labels: enhancement, module [test]

#1492 Update config/parse test to use standard patterns.
  doc/xml/release.xml
  test/src/module/config/parseTest.c
Labels: enhancement, module [test]

#1481 Increase max index allowed for pg/repo options to 256.
  build/lib/pgBackRestBuild/Config/Data.pm
  doc/lib/pgBackRestDoc/Common/DocConfig.pm
  doc/lib/pgBackRestDoc/Common/DocExecute.pm
  doc/xml/release.xml
  src/build/config/config.yaml
  src/build/config/parse.c
  src/build/config/parse.h
  src/build/config/render.c
  src/command/help/help.c
  src/config/parse.auto.c
  src/config/parse.c
  src/config/parse.h
  test/expect/real-all-001.log
  test/lib/pgBackRestTest/Env/Host/HostBackupTest.pm
  test/lib/pgBackRestTest/Module/Real/RealAllTest.pm
  test/src/module/build/configTest.c
  test/src/module/config/loadTest.c
  test/src/module/config/parseTest.c
  test/src/module/storage/remoteTest.c
Labels: module [core], enhancement
