Repository pgbackrest/pgbackrest, pull requests merged in 2021-07, with the labels that each got.

#1446 Fix documentation and comment typos.
  doc/lib/pgBackRestDoc/Common/Doc.pm
  doc/lib/pgBackRestDoc/Latex/DocLatex.pm
  doc/xml/release.xml
  doc/xml/user-guide.xml
  src/command/backup/backup.c
  src/command/expire/expire.c
  src/command/info/info.c
  src/command/repo/ls.c
  src/command/verify/verify.c
  src/common/compress/helper.h
  src/common/memContext.c
  src/common/type/pack.c
  src/common/type/string.h
  src/config/load.c
  src/info/manifest.c
  test/lib/pgBackRestTest/Env/Host/HostBackupTest.pm
  test/src/test.c
Labels: enhancement, module [doc]

#1454 Automatically create data directory on restore.
  doc/xml/release.xml
  src/command/restore/restore.c
  test/src/module/command/restoreTest.c
Labels: enhancement, module [core]

#1452 Fix detection of circular symlinks.
  doc/xml/release.xml
  src/info/manifest.c
  test/src/module/info/manifestTest.c
Labels: bug, module [core]

#1438 Detect errors in S3 multi-part upload finalize.
  doc/xml/release.xml
  src/storage/s3/write.c
  test/src/module/storage/s3Test.c
Labels: bug, module [core]

#1456 Update command/control and command/command tests to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/commandTest.c
  test/src/module/command/controlTest.c
Labels: enhancement, module [test]

#1455 Change level of backup/restore copied file logging to detail.
  doc/xml/release.xml
  src/command/backup/backup.c
  src/command/restore/restore.c
  test/expect/mock-all-001.log
  test/expect/mock-all-002.log
  test/expect/mock-stanza-001.log
  test/expect/mock-stanza-002.log
  test/src/module/command/backupTest.c
  test/src/module/command/restoreTest.c
Labels: enhancement, module [core]

#1460 Loop while waiting for checkpoint LSN to reach replay LSN.
  doc/xml/release.xml
  src/db/db.c
  test/src/common/harnessPq.h
  test/src/module/db/dbTest.c
Labels: enhancement, module [core]

#1462 Allow restore --type=lsn.
  doc/xml/reference.xml
  doc/xml/release.xml
  doc/xml/user-guide.xml
  src/build/config/config.yaml
  src/command/help/help.auto.c
  src/config/config.auto.h
  src/config/parse.auto.c
  test/src/module/command/restoreTest.c
  test/src/module/config/parseTest.c
Labels: enhancement, module [core]

#1463 Update command/backup tests to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/backupCommonTest.c
  test/src/module/command/backupTest.c
Labels: enhancement, module [test]

#1464 Update command/help tests to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/helpTest.c
Labels: enhancement, module [test]

#1466 Update command/local and command/remote tests to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/localTest.c
  test/src/module/command/remoteTest.c
Labels: enhancement, module [test]

#1467 Update command/repo test to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/repoTest.c
Labels: enhancement, module [test]

#1468 Update command/restore test to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/restoreTest.c
Labels: enhancement, module [test]

#1469 Update contributing documentation and add pull request template.
  .github/pull_request_template.md
  CONTRIBUTING.md
  doc/xml/contributing.xml
  doc/xml/release.xml
Labels: enhancement, module [doc]

#1470 Update storage tests to use standard patterns.
  doc/xml/release.xml
  test/src/module/storage/azureTest.c
  test/src/module/storage/cifsTest.c
  test/src/module/storage/gcsTest.c
  test/src/module/storage/posixTest.c
  test/src/module/storage/remoteTest.c
  test/src/module/storage/s3Test.c
Labels: enhancement, module [test]

#1473 Update config tests (except parse) to use standard patterns.
  doc/xml/release.xml
  test/src/module/config/execTest.c
  test/src/module/config/loadTest.c
  test/src/module/config/protocolTest.c
Labels: enhancement, module [test]

#1474 Add check for test path inside repo path.
  .cirrus.yml
  doc/xml/release.xml
  test/test.pl
Labels: enhancement, module [test]
