Repository pgbackrest/pgbackrest, pull requests merged in 2021-06, with the labels that each got.

#1420 Update command/expire test to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/expireTest.c
Labels: enhancement, module [test]

#1421 Add support for more Pack types.
  build/lib/pgBackRestBuild/Config/BuildHelp.pm
  doc/xml/release.xml
  src/command/help/help.auto.c
  src/common/type/pack.c
  src/common/type/pack.h
  test/src/common/harnessPack.c
  test/src/module/common/typePackTest.c
Labels: enhancement, module [core]

#1427 Clear error when a CATCH() block finishes.
  doc/xml/release.xml
  src/common/error.c
  src/common/error.h
  src/common/memContext.c
  src/main.c
  test/src/module/common/errorTest.c
Labels: enhancement, module [core]

#1436 Update info/infoArchive test to use standard patterns.
  doc/xml/release.xml
  test/src/module/info/infoArchiveTest.c
Labels: enhancement, module [test]

#1435 Update command/verify test to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/verifyTest.c
Labels: enhancement, module [test]

#1432 Update command/info test to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/infoTest.c
Labels: enhancement, module [test]

#1431 Update command/check test to use standard patterns.
  doc/xml/release.xml
  test/src/module/command/checkTest.c
Labels: enhancement, module [test]

#1424 Binary protocol.
  doc/xml/release.xml
  src/command/archive/get/get.c
  src/command/archive/get/protocol.c
  src/command/archive/get/protocol.h
  src/command/archive/push/protocol.c
  src/command/archive/push/protocol.h
  src/command/archive/push/push.c
  src/command/backup/backup.c
  src/command/backup/protocol.c
  src/command/backup/protocol.h
  src/command/remote/remote.c
  src/command/restore/protocol.c
  src/command/restore/protocol.h
  src/command/restore/restore.c
  src/command/verify/protocol.c
  src/command/verify/protocol.h
  src/command/verify/verify.c
  src/common/type/pack.h
  src/config/protocol.c
  src/config/protocol.h
  src/db/db.c
  src/db/protocol.c
  src/db/protocol.h
  src/protocol/client.c
  src/protocol/client.h
  src/protocol/command.c
  src/protocol/command.h
  src/protocol/parallel.c
  src/protocol/parallelJob.c
  src/protocol/parallelJob.h
  src/protocol/server.c
  src/protocol/server.h
  src/storage/remote/protocol.c
  src/storage/remote/protocol.h
  src/storage/remote/read.c
  src/storage/remote/storage.c
  src/storage/remote/write.c
  test/define.yaml
  test/src/module/command/backupTest.c
  test/src/module/protocol/protocolTest.c
  test/src/module/storage/remoteTest.c
Labels: enhancement, module [core]

#1437 Update info/infoBackup test to use standard patterns.
  doc/xml/release.xml
  test/src/module/info/infoBackupTest.c
Labels: enhancement, module [doc]
