Repository pgbackrest/pgbackrest, pull requests merged in 2024-04, with the labels that each got.

#2321 Allow explicit disabling of optional dependencies in meson builds.
  doc/xml/release/2024/2.52.xml
  meson.build
  meson_options.txt
Labels: module [build], enhancement

#2282 S3 SSE-C encryption support.
  doc/xml/release/2024/2.52.xml
  doc/xml/release/contributor.xml
  src/build/config/config.yaml
  src/build/help/help.xml
  src/config/config.auto.h
  src/config/parse.auto.c.inc
  src/storage/s3/helper.c
  src/storage/s3/read.c
  src/storage/s3/storage.c
  src/storage/s3/storage.h
  src/storage/s3/storage.intern.h
  src/storage/s3/write.c
  test/src/common/harnessHost.c
  test/src/module/command/helpTest.c
  test/src/module/storage/s3Test.c
Labels: module [core], enhancement

#2328 PostgreSQL 17 Support.
  doc/xml/release/2024/2.52.xml
  src/build/postgres/postgres.yaml
  src/postgres/interface/version.vendor.h
  src/postgres/version.auto.h
  test/container.yaml
  test/lib/pgBackRestTest/Common/ContainerTest.pm
  test/lib/pgBackRestTest/Common/DbVersion.pm
  test/lib/pgBackRestTest/Common/VmTest.pm
  test/src/common/harnessPostgres.c
  test/src/common/harnessPostgres.h
  test/src/common/harnessPostgres/harness170.c
  test/src/module/integration/allTest.c
  test/src/module/postgres/interfaceTest.c
Labels: module [core], enhancement

#2337 Update Fedora test image to Fedora 38.
  doc/xml/release/2024/2.52.xml
  doc/xml/user-guide.xml
  test/certificate/ssh/id_rsa
  test/certificate/ssh/id_rsa.pub
  test/container.yaml
  test/lib/pgBackRestTest/Common/ContainerTest.pm
  test/lib/pgBackRestTest/Common/VmTest.pm
Labels: enhancement, module [test]

#2338 Dynamically find python in meson build.
  .github/workflows/test.yml
  CONTRIBUTING.md
  doc/xml/contributing.xml
  doc/xml/release/2024/2.52.xml
  doc/xml/user-guide.xml
  meson.build
  test/ci.pl
  test/container.yaml
  test/lib/pgBackRestTest/Common/ContainerTest.pm
Labels: module [build], enhancement

#2326 Add GCS batch delete support.
  doc/xml/release/2024/2.52.xml
  src/common/io/http/request.c
  src/common/io/http/request.h
  src/common/io/http/response.c
  src/common/io/http/response.h
  src/common/type/buffer.c
  src/common/type/buffer.h
  src/storage/gcs/storage.c
  src/storage/gcs/storage.intern.h
  test/define.yaml
  test/src/module/common/ioHttpTest.c
  test/src/module/common/typeBufferTest.c
  test/src/module/storage/gcsTest.c
Labels: module [core], enhancement
