Repository pgbackrest/pgbackrest, pull requests merged in 2025-03, with the labels that each got.

#2573 Fix comments in unit tests.
  doc/xml/release/2025/2.55.0.xml
  doc/xml/release/contributor.xml
  test/src/module/common/userTest.c
Labels: enhancement, module [test]

#2581 Fix missing return in FUNCTION_LOG_RETURN_VOID().
  doc/xml/release/2025/2.55.0.xml
  src/common/debug.h
Labels: module [core], enhancement

#2579 Fix block incremental restore issue on non-default repository.
  doc/xml/release/2025/2.55.0.xml
  doc/xml/release/contributor.xml
  src/command/restore/file.c
  test/src/module/command/restoreTest.c
Labels: bug, module [core]

#2583 Clarify behavior of --repo-retention-full-type.
  doc/xml/release/2025/2.55.0.xml
  doc/xml/release/contributor.xml
  src/build/help/help.xml
Labels: enhancement, module [doc]

#2544 Allow verification of a specified backup.
  doc/xml/release/2025/2.55.0.xml
  doc/xml/release/contributor.xml
  src/build/config/config.yaml
  src/command/verify/verify.c
  test/define.yaml
  test/src/module/command/verifyTest.c
Labels: module [core], enhancement

#2585 Fix instances of "of of".
  doc/xml/release/2017/1.26.xml
  doc/xml/release/2025/2.55.0.xml
  doc/xml/release/contributor.xml
  doc/xml/user-guide.xml
Labels: enhancement, module [doc]
